<!DOCTYPE html>
<html>
	<head>
	  <title>Synapus</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="top_bar">
			<h1><a href="/">Synap<span>us</span></a></h1>
			<form method="post" action="login" id="login_form">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Login">
				<a href="/signup">Create account</a>
			</form>
		</div>

		<div id="main_container">
		<%= yield %>
		</div>

		<%= debug(params) if Rails.env.development? %>

	</body>
</html>
